doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Landing Page
  link(rel='stylesheet' href='../css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/landing.css')
.logo_container.col-12
  img#logo.my-0(src='../img/logo.svg' alt='')
.container-fluid.my-0
  .row
    .col-12.my-0.px-0.img_container
      img.img-fluid(name='slider')
h1.mt-5.mb-2 Lorem ipsum dolor.
p.my-0.text-justify
  | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores animi veniam sit
  | consequatur dicta fuga fugit natus!
  | Vero libero quisquam error assumenda odio eaque dolorum enim vitae est nemo pariatur dignissimos at cupiditate
  | doloribus sit mollitia quam non, optio doloremque nesciunt sapiente.
  | Harum sint tempora assumenda eum illo obcaecati cupiditate odio non veniam repudiandae accusamus eaque sapiente
  | laboriosam placeat error fugit fuga,
  | cum praesentium eius! Reiciendis laborum consequuntur mollitia velit natus eum in et cum minima porro
  | consectetur dolores atque dolorum esse asperiores,
  | dolorem quis laudantium dolor ex architecto! Voluptatum, facere repellendus. Assumenda dicta velit excepturi
  | deleniti facilis minima reiciendis!
p.my-3.text-justify
  | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores animi veniam sit
  | consequatur dicta fuga fugit natus!
  | Vero libero quisquam error assumenda odio eaque dolorum enim vitae est nemo pariatur dignissimos at cupiditate
  | doloribus sit mollitia quam non, optio doloremque nesciunt sapiente.
  | Harum sint tempora assumenda eum illo obcaecati cupiditate odio non veniam repudiandae accusamus eaque sapiente
  | laboriosam placeat error fugit fuga,
  | cum praesentium eius! Reiciendis laborum consequuntur mollitia velit natus eum in et cum minima porro
  | consectetur dolores atque dolorum esse asperiores,
  | dolorem quis laudantium dolor ex architecto! Voluptatum, facere repellendus. Assumenda dicta velit excepturi
  | deleniti facilis minima reiciendis!
script(src='../js/slide.js')
